.appname{
  font-weight: 800;
  margin: 40px;
  font-size: larger;
  
}
.mybtn{
  margin: 2px;
  margin-top: 10px;
  
}

.calculator {
  border: 1px solid rgba(90, 90, 90);
  width: 400px;
  border-radius: 5px;
  margin: 20px;
}